body {background-color: #FEFDCB; }
h2 {color: #FE9F45;}
h2 {text-decoration: underline;}
h2 {font-size: x-large;
    font-family: sans-serif;
    }
h1 {text-decoration: none; font-family: sans-serif;
   color:#FE9F45;}
   p {font-size: 1.1rem; text-align: justify;}
   ul {font-size: 1.1rem;}
   ol {font-size: 1.1rem;}
img {height: 300px; width: 500px;}
header {background-color: white;
   width: auto; height: 200px;
  display: flex; justify-content: center;
  display: flex; justify-content: space-around;
   align-items: center; flex-wrap: wrap;}
.logo {width: 100px; height: 100px;}
section {background-color: #FEDEA5; width: auto; padding: 20px;  margin-top: 20px;
   }

.nav {background-color: orange; font-size: 1.5rem; display: inline-flex; display: flex; justify-content: space-around;
  width: auto;}
.nav a {text-decoration: none; color: white;  border-radius: 6px;}
.nav a:hover {background-color: white; color: orange}

.footer {width: 100%; height: 5em; background: orange; display: flex;
  flex-direction: row; justify-content: center;
    align-items: center;
  justify-content: space-around; flex-wrap: wrap;
}
.text-footer {font-size: 2em;}
.iconos {display: flex; justify-content: center; gap: 20px; }
.iconos a {font-size: 50px;}
.facebook {color: blue;}
.instagram {color: #E1306C;}
.twiter { color: black;}
.iconos a:hover {transform: scale(1.2);}

.boton-wsp { position: fixed;
             width: 55px;
             height: 55px;
             line-height: 55px;
             bottom: 30px;
             right: 30px;
             background: #0df053;
             color: white;
             border-radius: 50px;
             text-align: center;
             font-size: 30px;
             box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
             z-index: 100;}

.boton-wsp:hover {text-decoration: none; color: #0df053; background: white;}
.mapita {
width: 80px; height: 80px;
}
